.body {
    margin: 0;   
    padding: 20px;
    width: 100%;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px; /* Esto ayuda a que no se estiren demasiado */

}
