.aboutContainer {
  max-width: 800px; /* Esto evita que el texto se estire hasta los bordes */
  margin: 0 auto;   /* Esto centra el contenedor en la pantalla */
  padding: 40px;
  color: white;
  text-align: center; /* Alinea todo al centro */
}

.label {
  font-size: 3.5rem; /* Letra más grande */
  color: #62F423;    /* El verde neón */
  text-shadow: 2px 2px 0px #000; /* Le da el efecto "relleno" y marcado */
  margin-bottom: 30px;
}

p {
  font-size: 2.4rem; /* Letra más grande y legible */
  line-height: 1.6;  /* Espacio entre líneas para que respire */
  margin-bottom: 20px;
  font-weight: 500;
}

.githubButton {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #62F423; /* Mismo verde neón de tu app */
    color: #6c3483;          /* Violeta oscuro */
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    font-family: sans-serif;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.githubButton:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(98, 244, 35, 0.4);
}
@font-face {
  font-family: 'RickAndMorty';
  src: url('../../assets/font/get_schwifty.ttf') format('truetype');
}

.label {
  font-family: 'RickAndMorty', sans-serif;
  
}